<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado busqueda expediente</title>
</head>
<body>

    <h2>Resultados de la busqueda por expediente</h2>

    {% if expediente %}
    
    {% for expediente in expediente %}

    <li>N° {{expediente.numero}} -  presentado: {{expediente.presentado}}</li>
 
    {% endfor %}

    <br>

    {% else %}

    <p>No se encontraron resultados.</p>

    {% endif %}

    <div style="margin: 1%;">

    <a style="text-decoration: none" href="{% url "expediente" %}"><input type="submit" value="Volver"></a>

    </div>

</body>
</html>