{% extends 'padre.html' %}
{% load static %}
{% block content %}

{% if miformulario.errors %}

    <p style="color: aqua;">Los datos son erroneos</p>

{% endif %}

    <h2 style="color: aliceblue;">Ingreso de datos de un nuevo Expediente </h2>
    
    <br>

    <form action="" method ="POST">{% csrf_token %}

        <div style="margin-left: 20%;">

        <table style="color: aliceblue;">

            {{ miformulario.as_table }}
        
        </table>
        </div>
        <br>

        <input type="submit" value="Enviar">

    </form>


{% endblock %}

{% block contbusqueda %}

    <h1> Buscar un expediente </h1>

    <br>

    <form action="{%url 'busqueda_expediente_respuesta' %}" method="get">
        <label for="numero">Por numero:</label>
        <input type="number" name="numero" id="numero">
    
        <label for="presentado">Por fecha de presentacion:</label>
        <input type="date" name="presentado" id="presentado">
    
        <div style="margin : 3%">
    
            <input type="submit" value="Buscar">
    
        </div>
    </form>
    
{% endblock %}