<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Leer Expedientes</title>
</head>
<body>
    {% for p in expedientes %}
    <li>{{p}}</li>
    <button>
    <a href="{% url 'eliminar_expediente' p.numero %}"> Eliminar</a>
    </button>
    <button>
    <a href="{% url 'editar_expediente' p.numero %}"> Editar</a>
    </button>
    {% endfor %}

 <h3><a style="text-decoration: none" href="{% url "demandado" %}">Agregar nuevo expediente</a></h3>

 <h3><a style="text-decoration: none" href="{% url "leerExpedientes" %}">Volver al listado de expedientes</a></h3>

 <h3><a style="text-decoration: none" href="{% url "index" %}">Volver pagina principal</a></h3>

</body>
</html>